body{font-family: "MalgunGothic",sans-serif;}
#sliderWrap{position: relative; height: 450px;background: url("../images/room_bacimg.gif") no-repeat;}
.login_txt{position: absolute; margin:170px 0 0 620px; width:650px; height:155px; border:1px solid #fff;}
.login_txt h2{font-size: 70px; font-weight: normal; color:#fff; text-align: center; line-height: 135px;}
.login_txt p{font-family: ParkAvenue BT;font-style: italic; font-size: 20.8px; color:#fff;text-align:center;margin-top: -33px;}

#sectionWrap{overflow: hidden; height:1000px;}
#side_nav{float: left; margin:95px 60px 0 60px;}
#side_nav h3{padding:20px 74px 19px 21px; background-color: #352715; font-size: 18px; color:#fff; font-weight: 549;}

#side_nav ul li:nth-child(1){width: 209px; height:42px; line-height: 42px; text-align: center; font-size: 14px; font-weight: bold; border-bottom: 1px solid #352715; background-color: #fff;}
#side_nav ul li:nth-child(1) a{display: block; color:#352715;}
#side_nav ul li:nth-child(2){width: 209px; height:42px; line-height: 42px; text-align: center; font-size: 14px; border-bottom: 1px solid #bababa; background-color: #f8f8f8;}
#side_nav ul li:nth-child(2) a{display: block; position: relative; z-index: 1; color:#352715;}
#side_nav ul li:nth-child(2) a:hover {font-weight: bold; border-bottom: 1px solid #bababa;}
#side_nav ul li:nth-child(2) a:after {content: ""; width: 0%; height: 100%; top: 0; position: absolute; left: 0; -webkit-transition: all 0.4s; -moz-transition: all 0.4s;
-ms-transition: all 0.4s; -o-transition: all 0.4s; transition: all 0.4s; background: #fff;}
#side_nav ul li:nth-child(2) a:hover:after {width: 100%; z-index: -1;}
#side_nav ul li:nth-child(3){width: 209px; height:300px; background-color: #f8f8f8;}

.ingEvent_h3{width:1400px; font-size: 25px; font-weight: 400; margin-top: 90px; margin-left: 330px; padding-bottom: 20px; border-bottom: 1px solid #cdcdcd;}
.ingEvent_img{text-align: center; margin-top: 30px; font-size: 16px;}
